Applicability of tls-unique value to FIA_ESTC_EXT.1

The STIP module contains an objective requirement (FIA_ESTC_EXT.2) that requires the TOE to generate tls-unique values and integrate them into EST requests it generates in accordance with RFC 7030 section 3.5 as an addon to its definition of FIA_ESTC_EXT.1. Because that module's X.509 definitions are being updated to use the ones present in this package, the definition of FIA_ESTC_EXT.1 is moving to that present in this package, however there is no requirement to generate tls-unique values present here. 

As a parallel issue to the one filed in that repository, should the X.509 package's definition of FIA_ESTC_EXT.1 be updated to include a requirement to generate tls-unique values, either as its own requirement or as a selectable option in FIA_ESTC_EXT.1? The latter option is probably more elegant, and either inclusion of the tls-unique value in the X.509 package removes the need to address this in the STIP module and it can simply be removed and addressed through package usage requirements.